<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/Hillary.jpg"
        class="img-thumbnail rounded"
        width="250px"
        alt=""
      />
      <h1 class="display-4">Aldrin</h1>
      <p class="lead">Front End Developer | UI UX Designer</p>
    </div>
  </div>
</div>
